/* ========
    GLOBAL
   ======== */
body {
    padding: 0;
    margin: 0;
    background-color: #00ccbe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-shadow: 3px 5px #f54e00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 5.1px;
}

li  {
    display: inline;
    padding: 0 50px 0 50px;
}

a:link {
    color: antiquewhite;
}

a:hover {
    color: #f54e00;
}

a:visited {
    color: blue;
}

/* =========
    STYLES
   ========= */
.btn {
    margin: 1rem;
    background-color: #000ecc;
}

.btn:hover {
    background-color: #000766;
}

.btn:active,
.btn:visited {
    background-color: #6670ff;
}

.select a {
    color: white;
}

/* distro select section */
.distro {
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-color: #ff5443;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.distroWrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.distro a {
    color: white !important;
}

.icofont-sail-boat {
    font-size: 2rem !important;
}

.elementaryLogo {
    font-size: 4rem;
    font-family: 'Parisienne', cursive;
    text-transform: lowercase;
}

#arch,
#debian,
#elementary,
#solus,
#ubuntu,
#notSure {
    font-size: 3.5rem !important;
    padding-top: .6rem;
    color: white;
}

#solus-logo {
    font-size: 3.5rem !important;
}

#distroHeading,
#tabHeading {
    font-size: 2.5rem;
    margin-top: 0;
    font-family: 'Major Mono Display', monospace;
    color: black;
}

/* tab section */
#matTabs {
    margin-top: 3rem;;
}

#appSelect .btn:disabled a {
    color: rgba(2, 2, 2, 0.589) !important;
}

/* output section */
.outputDiv {
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.buttonText {
    display: none;
}

#outputHeading {
    font-size: 3.5rem;
    margin-top: 0;
    font-family: 'Monofett', 'Courier', cursive;
    color: black;
}

.outputDiv button {
    margin-top: 1.5rem;
}

#saveOutput {
    background-color: #f54e00;
}

#saveOutput:hover {
    background-color: #b33900;
}

#saveOutput:active {
    background-color:  #ff854d;
}

#downloadOutput {
    background-color: #ff4433;
}

#downloadOutput:hover {
    background-color: #ff1500;
}

#downloadOutput:active {
    background-color: #ff8a80;
}

.instructionLink,
.instructionLink:link,
.instructionLink:visited,
.instructionLink:hover {
    font-style: initial;
}

.outputInner {
    min-height: 150px;;
    border: 2px solid rgba(0, 0, 0, 0.685);
    background-color: black;
    border-radius: 1.5em;
    padding-left: 1.5rem;
}

#outputInstructions {
    overflow: wrap;
    overflow-wrap: break-word;
}

#outputContent {
    padding: .5rem;
    color: white;
    overflow-wrap: break-word;
}

.fa-dollar-sign {
    padding-right: .5rem;
    color: green;
}

/* sidebar */
.sidenav {
    background-color: #79a0a5;
}

.sideLogo {
    font-size: 1.2rem;
}

.sidenav-trigger {
    margin-left: 2rem;
    margin-top: 15rem !important;
    right: 15px;
    bottom: 15px;
}

#sideTrigger {
    background-color: #a4680e;
    
}

#sideHeading {
    font-size: 2rem;
    padding-left: .5rem;
    font-family: 'Major Mono Display', monospace;
}

#sideOutput {
    padding-left: 1rem;
}

#sidebarDownload {
    background-color: #eb9514;
}

#sidebarDownload:hover {
    background-color:  #a4680e;
}

#sidebarDownload:active {
    background-color:  #f3bf72;
}

#sidebarClear {
    background-color: #ff5443;
}

#sidebarClear:hover {
    background-color:  #ff2d1a;
}

#sidebarClear:active {
    background-color:  #ff8a80;
}

#emailMessage {
    display: none;
}

#sidebarClear .fa-recycle,
#sidebarDownload .fa-cart-arrow-down {
    font-size: 1.5rem;
    color: white !important;
    margin: 0;
}

#sideOutput p span:nth-child(2) {
    margin-left: .5rem;
}

/* ===============
    MEDIA QUERIES
   =============== */
@media only screen and (min-width: 992px) {
    h1 {
        margin-top: 3rem;
    }

    .distroContainer {
        height: 30vh;
    }

    .buttonText {
        display: initial;
    }

    #distroHeading {
        margin-top: 5rem;
        margin-bottom: 4rem;;
    }

    #appSelect,
    #iconSelect,
    #themeSelect,
    #miscSelect {
        height: 30vh;
    }

    #output {
        height: 50vh;
        margin-top: 3rem;
    }

    #outputHeading {
        margin-top: 3rem;
    }
}
   