/* ========
    GLOBAL
   ======== */
body {
    padding: 0;
    margin: 0;
    background-color: #00ccbe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-shadow: 3px 5px #f54e00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 5.1px;
}

li {
    display: inline;
    padding: 0 50px 0 50px;
}

/* =========
    STYLES
   ========= */
.btn {
    margin: 1rem;
    background-color: #0A41AE;
}


.btn:hover {
    background-color: #083285;
}

.select a {
    color: white;
}

/* distro select section */
.distro {
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-color: #FD323C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.distro:hover {
    background-color: #FB000D;
}

.distro:active {
    background-color: #ff8a80;
}

.distroWrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.distro a {
    color: white !important;
}

.icofont-sail-boat {
    font-size: 2rem !important;
}

.elementaryLogo {
    font-size: 4rem;
    font-family: 'Parisienne', cursive;
    text-transform: lowercase;
}

#arch,
#debian,
#elementary,
#ubuntu,
#notSure {
    font-size: 3.5rem !important;
    padding-top: .7rem;
    color: white;
}

#suse {
    color: white;
}

#suse-logo {
    font-size: 4rem !important;
}

#distroHeading,
#tabHeading {
    font-size: 2.5rem;
    margin-top: 0;
    font-family: 'Major Mono Display', monospace;
    color: black;
}

/* tab section */
#matTabs {
    margin-top: 3rem;
    ;
}

#appSelect .btn:disabled a,
#iconSelect .btn:disabled a,
#themeSelect .btn:disabled a,
#miscSelect .btn:disabled a {
    color: rgba(2, 2, 2, 0.589) !important;
}

/* output section */
.outputDiv {
    margin-top: 3rem;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.outputDiv a {
    color: #083285;
}

.outputDiv a:hover {
    color: #0A41AE;
}

.outputDiv a:active {
    color: #FB000D;
}

.outputDiv a:visited {
    color: #FD323C;
}

.buttonText {
    display: none;
}

#outputHeading {
    font-size: 3.5rem;
    margin-top: 0;
    font-family: 'Monofett', 'Courier', cursive;
    color: black;
}

.outputDiv button {
    margin-top: 1.5rem;
}

#saveOutput {
    background-color: #FD323C;
}

#saveOutput:hover {
    background-color: #FB000D;
}

#saveOutput:active {
    background-color: #ff8a80;
}

#downloadOutput {
    background-color: #ff4433;
}

#downloadOutput:hover {
    background-color: #ff1500;
}

#downloadOutput:active {
    background-color: #ff8a80;
}

.outputInner {
    min-height: 150px;
    ;
    border: 2px solid rgba(0, 0, 0, 0.685);
    background-color: black;
    border-radius: 1.5em;
    padding-left: 1.5rem;
}

.fa-dollar-sign {
    padding-right: .5rem;
    color: green;
}

#outputInstructions {
    overflow-wrap: break-word;
}

#outputContent {
    padding: .5rem;
    color: white;
    overflow-wrap: break-word;
}

/* sidebar */
.sidenav {
    background-color: rgb(1, 161, 151);
}

.sideLogo {
    font-size: 1.2rem;
}

.sidenav-trigger {
    margin-left: 2rem;
    margin-top: 15rem !important;
    right: 15px;
    bottom: 15px;
}

.sidenav i {
    font-size: 1.5rem !important;
}

.alertColour {
    background-color: #FD323C !important;
}

#sideTrigger {
    background-color: #007A71;
}

#sideHeading {
    font-size: 2rem;
    padding-left: .5rem;
    font-family: 'Major Mono Display', monospace;
}

#sideOutput {
    padding-left: 1rem;
}

#sidebarDownload {
    background-color: #0A41AE;
}

#sidebarDownload:hover {
    background-color: #083285;
}

#sidebarDownload:active {
    background-color: #2f58a8;
}

#sidebarClear {
    background-color: #FD323C;
}

#sidebarClear:hover {
    background-color: #FB000D;
}

#sidebarClear:active {
    background-color: #f8676e;
}

#sidebarClear .fa-recycle,
#sidebarDownload .fa-file-download {
    font-size: 1.5rem;
    color: white !important;
    margin: 0;
}

#sideOutput p span:nth-child(2) {
    margin-left: .5rem;
}

/* toasts */
.toastColour {
    background-color: #8137d6;
    font-weight: 700;
}

/* ===============
    MEDIA QUERIES
   =============== */
@media only screen and (min-width: 992px) {
    h1 {
        margin-top: 3rem;
    }

    .distroContainer {
        height: 30vh;
    }

    .buttonText {
        display: initial;
    }

    .toastColour {
        background-color: #8137d6;
        font-weight: 700;
        width: 13.5rem;
    }

    #distroHeading {
        margin-top: 5rem;
        margin-bottom: 4rem;
        ;
    }

    #appSelect,
    #iconSelect,
    #themeSelect,
    #miscSelect {
        min-height: 30vh;
    }

    #output {
        height: 50vh;
        margin-top: 3rem;
    }

    #outputHeading {
        margin-top: 3rem;
    }
}