/* global reset */

body {
    padding: 0;
    margin: 0;
    background-color: #4fc3f7;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: inherit;
    
}

/* styles */

h1 {
    color: white;
    text-shadow: 3px 5px #f54e00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 6.1px;
}



li  {
    display: inline;
    padding: 0 50px 0 50px;
}

#outputContent {
    background-color: black;
    color: lightcoral;
}

.distroSelect img {
    width: 60px;
}

.fa-archlinux,
.fa-debian,
.icofont-sail-boat,
.fa-ubuntu,
.fa-question-circle {
    font-size: 1rem !important;
}

.elementaryLogo {
    font-size: 2rem;
    font-family: 'Parisienne', cursive;
    text-transform: lowercase;
}


.outputDiv {
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.outputDiv button {
    margin-top: 1.5rem;
}

#sideOutput ul {
    list-style-type: disc !important;
}

.instructionLink,
.instructionLink:link,
.instructionLink:visited,
.instructionLink:hover {
    font-style: initial;
}

.btn {
    margin: 1rem;
}

