/* global reset */

body {
    padding: 0;
    margin: 0;
    background-color: #4fc3f7;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: inherit;
    
}

/* styles */

h1 {
    color: white;
    text-shadow: 3px 5px #f54e00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 6.1px;
}

li  {
    display: inline;
    padding: 0 50px 0 50px;
}

tr {
    border: none;
}


.select a {
    color: white !important;
}

.outputInner {
    min-height: 150px;;
    border: 2px solid rgba(0, 0, 0, 0.685);
    background-color: black;
    border-radius: 1.5em;
    padding-left: 1.5rem;
}

#outputContent {
    padding: 1.5rem;
    color: lightcoral;
}

#sideOutput {
    padding-left: 1rem;
}

#sideOutput p span:nth-child(2) {
    margin-left: .5rem;
}

.distro {
    margin-left: 2rem;
    margin-bottom: 1rem;
    background-color: #f54e00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidenav-trigger {
    margin-left: 2rem;
    margin-top: 5rem;
    color: white;
}

.distro a {
    color: white !important;
}

.distroWrapper {
    margin-left: 2rem;
}

#appSelect .btn:disabled a {
    color: rgba(2, 2, 2, 0.589) !important;
}

#arch-logo,
#debian-logo,
#elementary-logo,
#solus-logo,
#ubuntu-logo,
#not-sure-logo {
    font-size: 3.5rem !important;
    padding-left: 20%;
}

#not-sure-logo {
    padding-left: 35%;
    padding-top: 10%;
}

.distroWrapper {
    width: 100%;
    margin-bottom: 2rem;;
}

.fa-archlinux,
.fa-debian,
.fa-ubuntu,
.fa-question-circle {
    font-size: 1.8rem !important;
}

.icofont-sail-boat {
    font-size: 2rem !important;
}

.elementaryLogo {
    font-size: 4rem;
    font-family: 'Parisienne', cursive;
    text-transform: lowercase;
}


.outputDiv {
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.outputDiv button {
    margin-top: 1.5rem;
}



.instructionLink,
.instructionLink:link,
.instructionLink:visited,
.instructionLink:hover {
    font-style: initial;
}

.btn {
    margin: 1rem;
}

